@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/* Common classes */

body {
  font-family: "Raleway", sans-serif;
}

.page-container {
  @apply my-10 max-w-[1100px] mx-auto px-4;
}

.admin-page-container {
  @apply mx-5 my-10;
}

.container {
  @apply max-w-[1100px] mx-auto px-4;
}

.custom-shadow {
  box-shadow: rgba(31, 31, 31, 0.12) 0px 1px 6px,
    rgba(31, 31, 31, 0.12) 0px 1px 4px;
}

.text-gradient {
  @apply bg-clip-text;
  background: linear-gradient(90deg, #22c1c3 2.34%, #fdbb2d 100.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

/* Admin menu */
.item-level-1:hover .items-block-level-3 {
  visibility: hidden;
}

/* Form */
.form-title {
  @apply text-[25px] text-slate-700 font-bold text-center py-2;
}

.form-input-label {
  @apply text-sm text-slate-600 font-bold;
}

.form-link {
  @apply text-[#22c1c3] font-bold ml-2 cursor-pointer underline;
}

/* Primary Button */
.primary-btn,
.login-btn,
.admin-btn {
  background-image: linear-gradient(90deg, #22c1c3 2.34%, #fdbb2d 100.78%);
  transition: background-image 0.5s ease-in;
  @apply relative py-[10px] px-4 rounded-sm
    text-white font-bold;
}

.primary-btn {
  background-image: linear-gradient(180deg, #f69c00 2.34%, #f1cd00 100.78%);
}

.admin-btn {
  background-image: linear-gradient(90deg, #0071ba 2.34%, #1683f0 100.78%);
}

.cancel-btn {
  @apply mr-6 bg-[crimson] py-[10px] px-4 text-white rounded-sm font-bold hover:bg-rose-700 transition;
}

.primary-btn:hover::before,
.login-btn:hover::before,
.admin-btn:hover::before {
  opacity: 1;
}

.primary-btn span,
.login-btn span,
.admin-btn span {
  @apply relative z-[3];
}

.primary-btn::before,
.login-btn::before,
.admin-btn::before {
  @apply bg-[linear-gradient(315deg,#22c1c3,#057fa8)] absolute content-[''] w-full h-full transition-opacity duration-500 ease-[ease-out] z-[2] opacity-0 left-0 top-0 rounded-[5px];
}

.primary-btn::before {
  @apply bg-[linear-gradient(315deg,#f7c600,#f1dd00)];
}

.admin-btn::before {
  @apply bg-[linear-gradient(315deg,#0071ba,#1683f0)];
}

/* Manage User Table */
.admin-table-wrapper {
  @apply overflow-hidden rounded-sm border border-gray-200 shadow-md my-5;
}

.manage-user-table {
  @apply w-full border-collapse bg-white text-left text-sm text-gray-500;
}

.manage-user-table thead tr th {
  @apply px-6 py-4 font-medium text-gray-900;
}

.manage-user-table tbody tr td {
  @apply px-6 py-4;
}

.manage-user-table-role {
  @apply inline-flex items-center gap-1 rounded-full px-2 py-1 text-xs font-semibold;
}

/* Modal */
.react-responsive-modal-root .react-responsive-modal-overlay,
.react-responsive-modal-root .react-responsive-modal-container,
.react-responsive-modal-root .react-responsive-modal-modal {
  animation-fill-mode: initial !important;
}

.react-responsive-modal-modal {
  @apply rounded-sm;
}

.react-responsive-modal-closeButton {
  @apply fill-white;
}

.react-responsive-modal-modal {
  @apply !p-0 !m-0;
}
